*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: linear-gradient(135deg , #153677,#4e085f);
    height: 89vh;
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #153677,#4e085f);
    padding: 10px;
}
.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #002765;

}
.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
#task-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    
}
#task-input:hover{
    outline: none;
}
button {
    border: none;
    outline: none;
    padding: 16px 20px;
    background: #28ac3b;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

li.completed {
    text-decoration: line-through;
}

.edit-btn, .delete-btn {
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}
